.product-img {
  width: 100%;
  border: 1rem solid #e4f3eb;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}

.product-details,
.order-form {
  text-align: left;
  background-color: #e4f3eb;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.6rem;
}

/* Popup style */
.popup {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
}


